<!DOCTYPE html>
<html>
  <head>
    <title>Registracija</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>Registracija</h1>
    <h2>Odaberite kako se želite registrovati</h2>
    <button onclick="location.href='http://localhost:3000/registracija/trgovac'">Trgovac</button>
    <button onclick="location.href='http://localhost:3000/registracija/kupac'">Kupac</button>
    <button onclick="location.href='http://localhost:3000/registracija/login'">Login</button>

  </body>
</html>
